*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}
::-webkit-scrollbar{
    width: 0;
}

/* NAVBAR */
.navbar{
  position: fixed;
  background:#fff;
  height:60px;
  width: 100%;
  padding:0 16px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  border-bottom:1px solid #ddd;
}

/* LOGO */
.logo{
  font-size:25px;
  font-weight:bold;
}

/* SEARCH */
.search{
  width:220px;
  padding:6px 10px;
  border:1px solid hsl(0, 0%, 80%);
  border-radius:5px;
  outline: none;
  font-size: 14px;
}

.search2{
        position: fixed;
        outline: none;
        width: 100%;
        height: 100%;
        padding:6px 10px;
        margin-top: 60px;
        border-top:0.5px solid #ccc;
        border-bottom:0.5px solid #ccc;
        font-size: 18px;
        align-self: start;
        align-content: flex-start;
        align-items: start;
        position: initial;
}

/* MOBILE */
@media (max-width:600px){
  .search{
    display:none;
  }
}
/* MOBILE */
@media (min-width:600px){
  .search2{
    display:none;
  }
  #search {
    display: none;
  }
}


/* new code */

.nav-icons {
  display: flex;
  gap: 20px; /* space between icons */
}

.icon-wrapper {
  position: relative;
  display: inline-block;
}

.icon-wrapper img {
  width: 30px; /* adjust size as needed */
  height: 30px;
}
#profile img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 0.5px solid rgb(136, 136, 136);
}

.notification-dot {
  position: absolute;
  bottom: -5px;   /* position under the icon */
  left: 50%;
  transform: translateX(-50%);
  width: 9px;
  height: 9px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white; /* optional, makes it look like a small bubble */
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #dedede;
}

.edit-profile-container {
  max-width: 400px;
  margin: auto;
  background: #fff;
  padding: 20px;
  padding-top: 2cm;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}

.edit-profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic label {
  display: block;
  color: #0095f6;
  cursor: pointer;
  margin-top: 8px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 16px;
  color: #555;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  outline: none;
}

textarea {
  resize: none;
  height: 70px;
}

button {
  width: 100%;
  padding: 10px;
  background: #0095f6;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

button:hover {
  background: #007cd1;
}
